body {
    background-color: rgba(245, 187, 92, .4);

}

h1 {
    text-align: center;
}

li {
    display: inline-block;
    padding: 20px;
    height: 20px;
    background-color: rgb(28, 153, 132);
    margin-left: 20px;
    
}

.items {
    width: 80vw;
    margin-left: 10%;
    margin-right: auto;
    color: white;
    
}

a:visited {
    color: white;
}